 @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shippori+Antique+B1&display=swap');


.profile-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 300px;
    height: 550px;
}

.profile-edit{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    width: 700px;
    height: 650px;
    margin-left: -500px;
}

.profile-edit-div{
    margin-top: -29px;
}

.profile-show{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 120px;
 
}

.profile-photo{
    width: 150px;
    border-radius: 50%;
}

.profile-text{
    text-decoration: underline;
}

/* .nav{
    position: relative;
} */

.Profile-field{
    width: 200px;
    Height: 30px;
    padding-left: 10px; 
}

.Profile-label{
    margin-top: 8px;
}

.traineebtnSave1{
    width: 220px;
    margin-top: 25px;
    height: 35px;
}

.alert-danger1{
    color: #823200;
    margin-bottom:0px;
    margin-top: 20px;
    margin-left: 58px !important;
    font-weight: bold;
    border: 1px solid  #823200;
    width: 355px;
    padding: 5px
}